<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
<div class="container-sm p-5">
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Login</h4>
    </div>
    <div class="card-body">
      <form th:action="@{/web/login}" th:object="${userDto}" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" th:field="*{userName}" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="card-footer">
      <div th:if="${param.error}" class="alert alert-danger mt-3" role="alert">
        Invalid username or password.
      </div>
    </div>
  </div>
</div>
</body>
</html>