<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, ${title})}">
<body>
    <div class="container-fluid bg-dark-subtle p-3 text-center">
        <h3 class="display-3">Welcome to <b>Jo Hukkum Hotel</b></h3>
    </div>
    <div class="container-fluid bg-gradient p-3 text-center">
        <p class="lead">Experience luxury and comfort like never before.</p>
        <p class="lead">Book your stay with us today!</p>
        <a class="btn btn-primary btn-lg" href="#">Book Now</a>
    </div>
    <div id="hotelImages" class="carousel slide bg-success text-light h-100">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#hotelImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#hotelImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#hotelImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="text-center">
                    <h4 class="display-4 p-5">First Slide</h4>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h4 class="display-4 p-5">Second Slide</h4>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h4 class="display-4 p-5">Third Slide</h4>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hotelImages" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hotelImages" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</body>
</html>